img.img-thumbnail {
    max-width: 280px;
    min-width: 280px;
    max-height: 280px;
    margin-bottom: 10px;
}

.gallery-image:empty {
    width: 280px;
    height: 280px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    background: url('../images/ajax-loader.gif') no-repeat center center;
}