<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <h1>Images from Wiki Media API</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" role="form" ng-submit="search()">
                <div class="form-group">
                    <div class="input-group">
                        <input
                                type="text"
                                class="form-control"
                                id="keyword"
                                placeholder="Enter keyword"
                                ng-model="keyword">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search!</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Results ({{ images.length }})</h2>

            <p ng-if="!images.length">Type keyword and press search.</p>

            <div class="row" ng-if="images.length">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image" ng-repeat="image in images" data-image="image" data-gallery-image></div>
            </div>
        </div>
    </div>
</div>